    body{
      font-family: Arial;
    }
    p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 70px;
      font-weight: 700;
      color: maroon;
    }
    h1,h2{
      font-family: Arial;
      color: grey;
    }
    h1{
      border-bottom: 1px solid black;
    }
    em{
      font-family: "Cascadia Mono";
    }